<?xml version="1.0"?>
<!-- This is a sample lanuch file, please change it based on your needs -->
<launch>
    <!-- IPv4 address of your drone -->
    <arg name="ip" default="192.168.1.1" />
  <!-- Ultrasound frequency (7 or 8). -->
  <arg name="freq" default="8" />
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver"
          output="screen" clear_params="true" args="-ip $(arg ip)">
        <param name="control_vz_max" value="700" />
        <param name="detect_type" value="5" />
        <param name="detections_select_v" value="128" />
        <param name="realtime_navdata" value="true" />
        <param name="navdata_demo" value="0" />
        <param name="euler_angle_max" value="0.0698131700796"/>
        <!--<param name="realtime_video" value="true" />-->
        <!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
        <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
        <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>-->
    </node>
    <node name="ardrone_joy" pkg="joy" type="joy_node" respawn="true">
      <param name="dev" type="string" value="/dev/input/js1"/>
      <param name="deadzone" value="0.01"/>
    </node>
    <node name="ps3_controller" pkg="ardrone_ps3_controller" type="drone_controller">
  </node>

</launch>
